﻿@import { url('~/platform.css') };

ActionBar {
    color: white;
    background-color: #2E6DAD;
}

button {
    font-size: 25;
    horizontal-align: center;
}

.message {
    font-size: 20;
    color: #284848;
    horizontal-align: center;
}

.editInputData {
    margin: 10;
}

ListView {
    margin: 5;
}
Label {
    margin: 10;
    horizontal-align: left;
    vertical-align: center;
}
TextField {
    border-width: 2;
    border-style: solid;
    border-color: #034793;
}
Image {
    margin: 10;
}

.horizontal-line {
    height: 2;
    background-color: #F8F8F8;
    margin: 5;
}